@import url('https://fonts.googleapis.com/css2?family');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    color: brown;
    font: 18px/1.618 sans-serif;
    font-family: 'lato', sans-serif;
}
a{
    color: blue;
    padding: .25rem .5rem;
    text-decoration: none;
}
.container{
    background-color: rgb(209, 192, 169);
    margin: 2rem auto;
    max-width: 60rem;
    width: 100%;
    -webkit-box-shadow: 26px 10px 25px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 26px 10px 25px -11px rgba(0,0,0,0.75);
    box-shadow: 26px 10px 25px -11px rgba(0,0,0,0.75);
}
.header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

#header_logo{
    margin-left: 1rem;
    font-style: bold;
    position: relative; left: 400px;top: 2px;
}

.header__nav_list{
    display: flex;
}

.header__nav_listItem{
    list-style-type: none;
    margin:1rem;
}

.header__nav_listItem:hover{
    background-color: rgb(51, 100, 51);
    border: 1px solid red;
    border-radius: 1rem;
    transition: .7s;
}
.profile{
    display:flex;
    justify-content: space-between;
}

.projects__title{
    text-align: center;
}
.projects{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.projects__column_figure{
    text-align: center;
}
.projects__column_button{
    border-radius: 5px;
    bottom: .5rem;
    color: aliceblue;
    margin: 0px;
    opacity: 0;
    position: relative;
    transition: opacity .5s ease-out;
    transition: 1s;
}
.projects__column_figure:hover .projects__column_button{
    bottom: 2.5rem;
    opacity: .8;
}
projects__column{
    padding-left: .5rem;
}
.projects__column_title{
    text-align: center;
}
.projects__column_image{
    text-align: center;
    height: auto;
    max-width: 100%;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa{
    border-radius: 8px;
    font-size: 15px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    width: 15px;

}
.fa:hover{
    opacity: .7;

}

